
body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width:50vh;
    height: 60vh;
    background-color: rgb(158, 166, 211);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.container > * {
    font-size: 30px;
    width: 100%;
    height: 20%;
    position: relative;
    background-color: transparent;
    color: #000 !important;
    border: none;
}
.main ::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("images/bg2.jpg");
    z-index: -1;
}
.login {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    height: 20%;

}

.login > h1 {
    font-size: 40px;
}

.container > button {
    background-color: rgb(85, 89, 144);
    font-size: 40px;
    font-family:monospace;
    border-radius: 20px;
    height: 25%;

}

input::placeholder {
    color: #000;
    /* text-align: center; */
}


.material-symbols-outlined {
    font-size: 70px !important;
    margin-right: 10px;
}


input {
    outline-color:gray!important;
}