body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 40vw;
    height: 90vh;
    background-color: rgb(113, 167, 167);
}